*{
    border:  0;
    margin:  0;
    padding: 0;
    background-color: #FFF;
}
body{
    width:  1000px;
    margin: auto;
} 
#header_container {
    position: sticky;
    top: 0;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
#header_container img{
    height:  40px;
}
nav ul {
    /*display: flex;
    list-style: none;
    gap:  30px;*/
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    list-style: none;
    column-gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color:  #333;
}
nav ul li:last-child a{
    color:  #fff;
    background-color: #4E991C;
    padding:  8px 16px;
}