*{
    border:  0;
    margin:  0;
    padding: 0;
    background-color: #FFF;
}
body{
    width:  1000px;
    margin: auto;
} 
#header_container {
    position: sticky;
    top: 0;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
#header_container img{
    height:  40px;
}
nav ul {
    /*display: flex;
    list-style: none;
    gap:  30px;*/
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    list-style: none;
    column-gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color:  #333;
}
nav ul li:last-child a{
    color:  #fff;
    background-color: #4E991C;
    padding:  8px 16px;
}
aside img {
    width: 100%;
    height: 250px;
    display: block;
}
#container {
    /* display: flex;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;
    background-color: #ffdf8a;
}
article{
    /*flex:1;*/
    padding: 50px;
    padding-left: 100px;
    padding-top: 100px;
    background-color: #FFDF8A;
}
article header {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    background-color: #FFDF8A;
}
article p {
    margin-bottom: 30px;
    background-color: #FFDF8A;
}
article footer {
    background-color: #4E991C;;
    color: white;
    padding: 12px 20px;
    display: inline-block;
}
#container2{
    padding: 60px 40px;
    text-align: center;
}
#container2 h1 {
    color:#223B7F;
}
#container2 h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 40px;
}
#container2 ul {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}
#container2 li {
    /* flex: 1 1 250px; 
    display: flex;
    flex-direction: column;
    align-items: left; */
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: left;
    padding: 30px;
}
#container2 li img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
#container2 li header {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 12px;
}
#container2 li p {
    font-size: 1rem;
    line-height: 1.5;
}


